<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Banner</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body class="flex justify-center items-center h-screen bg-[#121212] text-[#e7e7e7]">
    <div class="w-96 p-6 flex flex-col justify-center items-center rounded-[12px] bg-[#414141]">
        <h1 class="font-bold text-4xl mb-4">Banner</h1>

        <nav id="navbar"class="mb-4 flex justify-center space-x-5 p-1 font-bold">
            <a href="{{ url_for('home') }}" class="button-link">
                <span class="underline hover:text-blue-500">Home</span>
            </a>
            <a href="{{ url_for('vehicle_wrap') }}" class="button-link">
                <span class="underline hover:text-blue-500">Vehicle</span>
            </a>
            <a href="{{ url_for('sign') }}" class="button-link">
                <span class="underline hover:text-blue-500">Sign</span>
            </a>
            <a href="{{ url_for('banner') }}" class="button-link">
                <span class="underline hover:text-blue-500">Banner</span>
            </a>
            <a href="{{ url_for('apparel') }}" class="button-link">
                <span class="underline hover:text-blue-500">Apparel</span>
            </a>            
        </nav>

        <label for="bannerTypeSelection">Select a Banner Type: </label>
        <select name="bannerTypeSelection" onchange="bannerOptions()" class="w-full p-1 mb-4 rounded mt-2 bg-[#595959] hover:bg-[#717171]">
            <option value="select">Select</option>
            <option value="vinyl">Vinyl</option>
            <option value="mesh">Mesh</option>
            <option value="fabric">Fabric</option>
        </select>

        <label for="bannerMaterialSelection">Select Banner Material</label>
        <select id="bannerMaterialSelection" class="w-full p-1 mb-4 rounded mt-2 bg-[#595959] hover:bg-[#717171]"></select>

        <label for="bannerWidth">Enter Width (in feet): </label>
        <input type="number" id="bannerWidth" placeholder="Width" class="w-full p-1 mb-4 rounded mt-2 bg-[#595959] hover:bg-[#717171]">

        <label for="bannerHeight">Enter Height (in feet): </label>
        <input type="number" id="bannerHeight" placeholder="Height" class="w-full p-1 mb-4 rounded mt-2 bg-[#595959] hover:bg-[#717171]">

        <button onclick="calculateBannerPrice()" class="w-full bg-blue-700 hover:bg-blue-500 text-white font-bold py-2 px-4 rounded mt-4 mb-4">Get Estimation</button>

        <div id="bannerPriceDisplay" class="text-center text-lg font-semibold"></div>

    </div>
    <script src="/static/banner.js"></script>
</body>
</html>