<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign</title>
</head>
<body>
    <h1>Sign</h1>

    <div>
        <label for="signType">Select a Sign Type: </label>
        <select id="signType">
            <option value="backlit">Backlit</option>
            <option value="acrylic">Acrylic</option>
            <option value="windowDecal">Window Decal</option>
        </select>
    </div>

    <div>
        <label>Enter in the Dimensions of the Sign</label>

        <label for="width">Width(ft): </label>
        <input type="number" id="width">

        <label for="height">Height(ft): </label>
        <input type="number" id="height">
    </div>

    <button type="submit">Submit</button>

    <div>
        <label for="signEstimation">Your Estimation displayed here after clicking submit</label>
    </div>

    <div>
        <button type="button" onclick="location.href='home.html'">Home</button>
    </div>
</body>
</html>
