<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vehicle Wrap</title>
</head>
<body>
    <h1>Vehicle Wrap</h1>

    <label for="carMakeSelection">Select Car Make: </label>
    <select name="carMakeSelection" id="carMakeSelection" onchange="carMakeOptions()">
        <option value="select">Select</option>
    </select>

    <label for="carModelSelection">Select Car Model: </label>
    <select id="carModelSelection"></select>

    <label for="carWrapMaterialSelection">Select Car Wrap Material: </label>
    <select id="carWrapMaterialSelection"></select>

    <label for="wrapSizeSelection">Select Wrap Size: </label>
    <select name="wrapSizeSelection" id="wrapSizeSelection">
        <option value="select">Select</option>
        <option value="full" id="full">Full</option>
        <option value="partial" id="partial">Partial</option>
        <option value="custom" id="custom">Custom</option>
    </select>

    <div id="partialOptions" style="display: none;">
        <label for="partialSelection">Select Partial Wrap Area: </label>
        <select name="partialSelection" id="partialSelection">
            <option value="side">Select</option>
            <option value="side">Side</option>
            <option value="back">Back</option>
            <option value="hood">Hood</option>
            <option value="roof">Roof</option>
        </select>
    </div>
    
    <div id="customOptions" style="display: none;">
        <label for="customWidth">Width (in feet): </label>
        <input type="number" id="customWidth" name="customWidth" step="1" min="0">
        <br>
        <label for="customHeight">Height (in feet): </label>
        <input type="number" id="customHeight" name="customHeight" step="1" min="0">
    </div>       

    <button id="estimateButton">Get Estimation</button>

    <div id="fullEstimateDisplay"></div>
    <div id="partialEstimateDisplay"></div>

    <!-- <p>Note: Measurements include 6 inch bleed</p> -->

    <a href="{{ url_for('home') }}"><button type="button">Home</button></a>
    <script src="/static/vehiclewrap.js"></script>
</body>
</html>