<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vehicle Wrap</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body class="body"> 

    <div class="container">   

        <h1 class="font-bold text-4xl mb-4">Vehicle Wrap</h1>

        <nav class="mb-4 flex justify-center space-x-5 p-1 font-bold">
            <a href="{{ url_for('home') }}" class="button-link">
                <span class="underline hover:text-blue-500">Home</span>
            </a>
            <a href="{{ url_for('vehicle_wrap') }}" class="button-link">
                <span class="underline hover:text-blue-500">Vehicle</span>
            </a>
            <a href="{{ url_for('sign') }}" class="button-link">
                <span class="underline hover:text-blue-500">Sign</span>
            </a>
            <a href="{{ url_for('banner') }}" class="button-link">
                <span class="underline hover:text-blue-500">Banner</span>
            </a>
            <a href="{{ url_for('apparel') }}" class="button-link">
                <span class="underline hover:text-blue-500">Apparel</span>
            </a>            
        </nav>
        
        <label for="carMakeSelection">Select Car Make: </label>
        <select name="carMakeSelection" id="carMakeSelection" onchange="carMakeOptions()" class="dropdown">
            <option value="select">Select</option>
        </select>

        <label for="carModelSelection">Select Car Model: </label>
        <select id="carModelSelection" class="dropdown"></select>

        <label for="carWrapMaterialSelection">Select Car Wrap Material: </label>
        <select id="carWrapMaterialSelection" class="dropdown"></select>

        <label for="wrapSizeSelection" >Select Wrap Size: </label>
        <select name="wrapSizeSelection" id="wrapSizeSelection" class="dropdown">
            <option value="select">Select</option>
            <option value="full" id="full">Full</option>
            <option value="partial" id="partial">Partial</option>
            <option value="custom" id="custom">Custom</option>
        </select>

        <div id="partialOptions" style="display: none;">
            <label for="partialSelection" class="flex justify-center items-center">Select Partial Wrap Area: </label>
            <select name="partialSelection" id="partialSelection" class="dropdown">
                <option value="select">Select</option>
                <option value="side">Side</option>
                <option value="back">Back</option>
                <option value="hood">Hood</option>
                <option value="roof">Roof</option>
            </select>
        </div>
        
        <div id="customOptions" style="display: none;">
            <label for="customWidth" class="flex justify-center items-center">Width (in feet): </label>
            <input type="number" id="customWidth" name="customWidth" step="1" min="0" placeholder="Width" class="dropdown">
            <label for="customHeight" class="flex justify-center items-center">Height (in feet): </label>
            <input type="number" id="customHeight" name="customHeight" step="1" min="0" placeholder="Height" class="dropdown">
        </div>       

        <button id="estimateButton" class="estimate-button">Get Estimation</button>

        <div id="fullEstimateDisplay" class="text-center text-lg font-semibold"></div>
        <div id="partialEstimateDisplay" class="text-center text-lg font-semibold"></div>
        <div id="customEstimateDisplay" class="text-center text-lg font-semibold"></div>

        <p class="text-center mt-4 text-xs">Note: Measurements include six inch bleed</p>
    </div> 
    <script src="/static/vehiclewrap.js"></script>
</body>
</html>