@tailwind base;
@tailwind components;
@tailwind utilities;

@media (max-width: 568px) {
    .w-96 {
        width: 90%;
    }
}

@media (max-width: 414px) {
    #navbar > * {
        margin-left: 0.5rem; 
        margin-right: 0.5rem; 
    }
}

@media (max-width: 375px) {
    #navbar > * {
        margin-left: 0.25rem; 
        margin-right: 0.25rem; 
    }
}